<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div>
                <h4>Guillaume</h4>
                <h4>Delorme</h4>
                <p>guillaume@drosalys.fr</p>
                <small>Ouai ouai</small>
            </div>
        </div>
        <div class="col-4">
            <div>
                <h4>Kevin</h4>
                <h4>La tourret</h4>
                <p>kevin@drosalys.fr</p>
                <small>zizi</small>
            </div>
        </div>
        <div class="col-4">
            <div>
                <h4>Jules</h4>
                <h4>Paulison</h4>
                <p>jules@drosalys.fr</p>
                <small>non non</small>
            </div>
        </div>
        <div class="col-4">
            <div>
                <h4>Alexia</h4>
                <h4>Coulomier</h4>
                <p>alexia@drosalys.fr</p>
                <small>néné</small>
            </div>
        </div>
        <div class="col-4">
            <div>
                <h4>Théau</h4>
                <h4>La calve</h4>
                <p>theau@drosalys.fr</p>
                <small>coca</small>
            </div>
        </div>
        <div class="col-4">
            <div>
                <h4>Michel</h4>
                <h4>Pytel</h4>
                <p>michel@drosalys.fr</p>
                <small>jte bou...</small>
            </div>
        </div>

    </div>
</div>